/* header style start here */
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color: #FFF8F3;
    background-repeat: no-repeat;
}
.banner {
    padding: 100px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-primary {
    border-radius: 5px;
    background: #ec3304e7;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}
.short {
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner .profile {
    width: 500px;
}
.banner-title {
    font-size: 70px;
    font-weight: 650px;
    margin-top: 5px;
    margin-bottom: 20px;
}
