/* header style start here */
body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FFF8F3;
    background-repeat: no-repeat;
}

.banner {
    padding: 100px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary {
    border-radius: 5px;
    background: #ee0d3eea;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
}

.short {
    display: flex;
    width: 585px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner .profile {
    width: 500px;
}

.banner-title {
    font-size: 70px;
    font-weight: 650px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main first section start here */
.little-information {
    padding: 100px;
    border-radius: 10px;
    /* background: #FFF8F3; */
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
}

.info-little {}

.little-h {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.little-p {
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.featured-images {
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    /* justify-content: center; */
    /* justify-content: last baseline; */
    margin-left: 80px;
    margin-right: 80px;
}

.image-3 {
    width: 500px;
    height: 590px;
    /* flex-shrink: 0; */
}

.image-2 {
    width: 550px;
    height: 590px;
    /* flex-shrink: 0; */
}

.image-1 {
    width: 550px;
    height: 590px;
    /* flex-shrink: 0; */
}

.littleone-information {
    width: 1920px;
    height: 4867px;
    background: #FFF;
}

.Rectangle-1 {
    width: 570px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 400px 400px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    border: 300px 300px;
}
.Rectangle-2 {
    width: 570px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 400px 400px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    border: 300px 300px;
}
.Rectangle-3 {
    width: 570px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 400px 400px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    border: 300px 300px;
}